.search {
  width: 100%;
  padding: 0 20px;
  align-self: flex-start;
}

.search-input {
  width: 100%;
  color: #fff;
  padding-left: 55px;
  font-size: 24px;
  border: 0;
  border-bottom: 4px solid #373737;
  height: 2em;
  opacity: 0.56;
  background: #0e0e0e url("./group.svg") no-repeat 10px 4px;
  margin-bottom: 100px;
}

.search-input:focus {
  outline: none;
}