.product-description {
  padding-left: 34px;
  padding-right: 64px;
  padding-bottom: 150px;
  font-family: "AvenirNextReg";
  font-size: 33px;
  font-weight: 800;
  color: #d8d8d8;
  line-height: 1.52;
}