.header {
  flex: 0 0 100%;
  padding-top: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-self: flex-start;
  max-height: 40px;
  z-index: 1;
  position: relative;
}

.header-left {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 28px;
  position: relative;
}

.product-name {
  font-family: AvenirNext;
  font-size: 64px;
  font-weight: bold;
  color: #3a3a3a;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0px;
}

.save-button {
  height: 75px;
  width: 75px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: #e3e3e3;
  position: absolute;
  top: 168px;
  left: 28px;
}

.save-button:hover {
  background-color: #4d42f8;
}

.product-color-selector {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.product-color {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 13px;
}

.product-color:focus {
  outline: none;
}

.grey {
  background-color: #c5c5c5;
}

.blue {
  background-color: #4d87ca;
}

.black {
  background-color: #4a4a4a;
}

.light-grey {
  background-color: #e0e0e0;
}

.product-sale {
  margin-left: 17px;
  font-size: 14px;
  color: #ffffff;
  background-color: #ff5c5c;
  padding: 7px 20px 6px 21px;
  text-transform: uppercase;
}

.product-price {
  font-size: 80px;
  font-weight: bold;
  color: #e2e2e2;
  margin-top: 35px;
}

.header-right {
  z-index: 2;
  position: absolute;
  top: 35px;
  right: 37px;
  display: flex;
  flex-flow: column nowrap;
}