button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.main-content {
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex: 1 100%;
}

.filter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  flex: 1 0 100%;
  padding: 11px 0px;
  border-bottom: 3px solid #e7e7e7;
}

.filter-icon {
  width: 55px;
  height: 55px;
  margin-left: 24px;
  background: url("../image/filter.png") no-repeat center #ebebeb;
}

.filter-selected, .filter-gender-button, .filter-size-title, .filter-size-button, .product-link {
  font-family: "AvenirNext";
  font-weight: bold;
  font-size: 24px;
  color: #d6d6d6;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.filter-selected, .filter-size, .filter-size-title, .filter-gender-button:hover, .filter-size-button:hover {
  color: #4d42f8;
}

.filter-gender {
  padding: 0px 30px;
  display: flex;
  align-items: center;
}

.filter-gender-button {
  padding: 0px 5px;
}

.filter-size {
  display: flex;
  align-items: center;
}

.filter-size-title {
  padding: 0px 20px;
}

.product-list {
  flex-basis: 100%;
  padding: 22px 24px 0px 24px;
}

.product-card {
  background-color: #f4f4f4;
  padding: 6px 9px 9px 8px;
  margin-bottom: 24px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-link {
  flex: 1 100%;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 27px;
  margin-top: 8px;
  background-color: #ffffff;
  color: #0d0d0d;
}

.product-sale-price {
  background-image: linear-gradient(107deg, #0c09bf, #966dd8);
  color: #ffffff;
}

.product-list-sale {
  font-family: "AvenirNext";
  font-weight: normal;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal !important;
  color: #ffffff;
  position: absolute;
  top: 13px;
  right: 16px;
  background-color: #ff5c5c;
  padding: 7px 20px 6px 21px;
}