.filter-selected, .filter-size-title, .filter-size-button {
  font-family: "AvenirNext";
  font-weight: bold;
  font-size: 24px;
  color: #d6d6d6;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.filter-selected, .filter-size, .filter-size-title, .filter-size-button:hover {
  color: #4d42f8;
}

.filter-size {
  display: flex;
  align-items: center;
}

.filter-size-title {
  padding: 0px 20px;
}